@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --primary-color:#8ECAE6;
  --secondary-color:#219EBC;
  --color3: #023047;
  --color4: #FFB703;
  --color5: #FB8500;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: relative;
  background-color: var(--primary-color);
  color: #ffffff;
  font-family: 'Raleway';
  height: 100%;
}

li{
  list-style: none;
}

/* Navbar */

nav{
  background-color: var(--secondary-color);
  padding: 10px 0;
}

nav h1{
  font-size: 46px;
  margin-left: 5px;
}

nav .navListContainer{
  display: flex;
  align-items: center;
}

nav .navListContainer .navList{
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: end;
  
}

nav .navListContainer .navList li{
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right:5px;
  cursor: pointer;
}

/* Home Page */

.taskContainer{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.taskContainer .loginToSee{
  margin-top: 300px;
  text-align: center;
}

/* Task Form */

.formControl{
  text-align: center;
}

.formControl h1{
  margin: 20px 0;
  color: #000000;
}

.taskForm{
  max-width: 500px;
  display: flex;
  margin:auto;
  flex-direction: column;
}

.taskInput{
  margin: 2.5px;
  border-radius: 5px;
  border: none;
  padding:5px;
  text-align: 0;
}
 
.description{
  height: 100px;
 }


/* Task List */

.taskList{
  margin-top: 20px;
  align-self: center;
  text-align: center;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList .listTitle{
  margin: 20px 0;
}

.taskList .noTasks{
 margin: 35px 0px;
 color: #000000;
}

/* Task Item */

.card.completed{
  background-color: #baf599;
}

.card .completeIcon{
  cursor: pointer;
  position: absolute;
  left: 10px
}

.card .deleteIcon{
  cursor: pointer;
  position: absolute;
  left: 40px;
  color: #fc5151
}

.card .openMenuIcon{
  cursor: pointer;
  position: absolute;
  right: 10px
}

.underCard{
  border:var(--color3) solid 2px;
  width: 100%;
  background-color: #ffffff;
  color: black;
  padding: 2.5px 10px
}

.underCard .itemDescription{
  margin: 20px 0;
  color:#023047;
  text-align: start;
  white-space: pre-wrap;
}
.underCard .underFlex{
  display: flex;
  justify-content: space-between;
}

/* Sign-in/Register */

.formContainer{
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer .form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formContainer .form .formInput{
  height: 40px;
  width: 500px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  padding: 0px 5px
}

/* Profile Page */

.profileContainer{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

/* Utilities */
.container{
  margin: auto;
  max-width: 1100px;
  height: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.btn{
  display: relative;
  cursor: pointer;
  font-weight: 900;
  margin: 10px;
  padding:7.5px 15px;
  align-self: center;
  border-radius: 5px;
  border-style: solid;
  border: none;
  background-color: var(--primary-color);
  color: #000000;
}

.btn-Secondary{
  background-color: var(--secondary-color);
  color: #000000;
}
.btn-3{
  background-color: var(--color3);
  color: #ffffff;
}
.btn-4{
  background-color: var(--color4);
  color: #000000;
}
.btn-5{
  background-color: var(--color5);
  color: #000000;
}

.card{
  position: relative;
  background-color: white;
  color: black;
  width:100%;
  border:var(--color3) solid 2px;
  border-radius: 5px;
  padding: 5px 0;
  margin:0px 0;
}

.card h1{
  font-size: 18px;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
}